<div >
    <div class="jumbotron container text-center">
        <h1 class="display-4">ABOUT</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quaerat reiciendis, consequatur autem repellat velit veniam. Similique voluptatum, distinctio quo nam ipsam, beatae consequatur blanditiis molestias expedita sunt est eum! Error excepturi inventore reprehenderit, perferendis minima fugiat molestias ratione officia, iste animi quidem consequatur iure, illo dolore corrupti ipsa dolorum.</p>
        <hr class="my-4">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus quam repellendus sed, facilis quod impedit corporis minima ex dolor nostrum voluptate. Repudiandae, natus vel minima dolores laboriosam nemo ducimus aliquam!.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Home</a>
      </div>
</div>
<app-footer></app-footer>